<launch>
    <node name="usb_cam" type="usb_cam_node" pkg="usb_cam" output="screen" >
        <param name="video_device" value="/dev/video2"/>
        <param name="pixel_format" value="yuyv" />
        <param name="image_width" value="320" />
        <param name="image_height" value="240" />
        <param name="framerate" value="20" />
    </node>
</launch>
